  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="{{ url_for('home') }}" class="logo d-flex align-items-center me-auto">
        <img src="{{ url_for('assets', filename='img/aimlpcb-logo.png') }}" alt="">
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{ url_for('home') }}" class="active">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#portfolio">Activities</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="{{ url_for('coc') }}" target="_blank" class="active">Code of Conduct</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="https://forms.gle/QJEE9ct35sbJncuLA" target="_blank">Membership</a>

    </div>
  </header>