  <!-- HERO SECTION -->
  <section id="hero" class="hero section">
      <div class="container">
      <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
            <h1>AIML Professional Community Bangladesh</h1>
            <p></p>
            <h3>Connect, Learn, and Grow Together</h3>
            <p></p>
            <p>
              AIML Professional Community Bangladesh is a volunteer-driven, non-profit initiative aimed at building a stronger AI/ML ecosystem in the country. We believe in open access to knowledge, mentorship, and collaboration—free for all. Our mission is to connect learners, professionals, and enthusiasts in a space that encourages continuous learning and community-driven growth.
            </p>
            <div class="d-flex">
                <a href="https://forms.gle/QJEE9ct35sbJncuLA" class="btn-get-started" target="_blank">
                  Become a Member
                </a>
                <!-- <a href="" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>
                  Watch Video
                </span></a> -->
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="100">
            <img src="assets/img/community-logo.png" class="img-fluid animated" alt="">
          </div>
      </div>
      </div>

  </section>