  <!-- TEAM STARTS -->
  <section id="team" class="team section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <span>Meet the Team</span>
      <h2>Meet the Team</h2>
      <p>
        We believe in community-first leadership where every member plays a role in shaping our journey.
      </p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <!-- Sub-title -->
      <div class="container section-title" data-aos="fade-up">
      <span>Community Leaders</span>
      <h3>Community Leaders</h3>
      </div>
      <!-- End sub-title -->
    
      <div class="row gy-5">

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
              <div class="pic"><img src="assets/img/team/taufiq.jpg"  loading="lazy" class="img-fluid" alt=""></div>
              <div class="member-info">
              <h4>Md. Taufiqul Haque Khan Tusar</h4>
              <span>NLP & Backend Engineer at LaLoka Labs, Tokyo, Japan | Community Admin</span>
              <span></span>
              <div class="social">
                  <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
              </div>
          </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
              <div class="pic"><img src="assets/img/team/sajib.jpg"  loading="lazy" class="img-fluid" alt=""></div>
              <div class="member-info">
              <h4>Sajib Hossain</h4>
              <span>Lead Artificial Intelligence Engineer at TulipTech, Dhaka, Bangladesh</span>
              <div class="social">
                  <a href="https://www.linkedin.com/in/sajib-hossain-b189ba189/"><i class="bi bi-linkedin"></i></a>
              </div>
              </div>
          </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
              <div class="pic"><img src="assets/img/team/ovi.jpg"  loading="lazy" class="img-fluid" alt=""></div>
              <div class="member-info">
              <h4>Md Sultanul Islam Ovi</h4>
              <span>PhD Scholar at Dept. of CS, George Mason University, Virginia, USA</span>
              <div class="social">
                  <a href="https://www.linkedin.com/in/md-sultanul-islam-ovi/"><i class="bi bi-linkedin"></i></a>
              </div>
              </div>
          </div>
          </div><!-- End Team Member -->


          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
              <div class="pic"><img src="assets/img/team/junaid.jpg"  loading="lazy" class="img-fluid" alt=""></div>
              <div class="member-info">
              <h4>Kazi Junaid Mahmud</h4>
              <span>Marketing Data Analyst, Talent Care Education Ltd, London, UK</span>
              <div class="social">
                  <a href="https://www.linkedin.com/in/junaid-mahmud/"><i class="bi bi-linkedin"></i></a>
              </div>
              </div>
          </div>
          </div><!-- End Team Member -->


          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
              <div class="pic"><img src="assets/img/team/rakib.jpg"  loading="lazy" class="img-fluid" alt=""></div>
              <div class="member-info">
              <h4>Md. Abdur Rakib Mollah</h4>
              <span>Machine Learning Engineer, Euclido, Ontario, Canada</span>
              <div class="social">
                  <a href="https://www.linkedin.com/in/abdurrakibmollah/"><i class="bi bi-linkedin"></i></a>
              </div>
              </div>
          </div>
          </div><!-- End Team Member -->



          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
              <div class="pic"><img src="assets/img/team/majid.jpg"  loading="lazy" class="img-fluid" alt=""></div>
              <div class="member-info">
              <h4>Majidul Islam</h4>
              <span>AI Programmer at Sysnova Information Systems Ltd, Dhaka, Bangladesh</span>
              <div class="social">
                  <a href="https://www.linkedin.com/in/majidulislammurad/"><i class="bi bi-linkedin"></i></a>
              </div>
              </div>
          </div>
          </div><!-- End Team Member -->



          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
              <div class="pic"><img src="assets/img/team/mansura.jpg"  loading="lazy" class="img-fluid" alt=""></div>
              <div class="member-info">
              <h4>Mansura Naznine</h4>
              <span>Research Assistant, Qatar University, Doha, Qatar</span>
              <div class="social">
                  <a href="https://www.linkedin.com/in/mansura-naznine/"><i class="bi bi-linkedin"></i></a>
              </div>
              </div>
          </div>
          </div><!-- End Team Member -->



          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
              <div class="pic"><img src="assets/img/team/hasib.jpg"  loading="lazy" class="img-fluid" alt=""></div>
              <div class="member-info">
              <h4>Md Abdullah Al Hasib</h4>
              <span>Artificial Intelligence Developer, Creative AI, Amman, Jordan</span>
              <div class="social">
                  <a href="https://www.linkedin.com/in/md-abdullah-al-hasib-874174194/"><i class="bi bi-linkedin"></i></a>
              </div>
              </div>
          </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
              <div class="pic"><img src="assets/img/team/hasnain.jpg"  loading="lazy" class="img-fluid" alt=""></div>
              <div class="member-info">
              <h4>Md Hasnain Ali</h4>
              <span>Associate Software Engineer at Vivasoft Ltd, Dhaka, Bangladesh</span>
              <div class="social">
                  <a href="https://www.linkedin.com/in/mdhasnainali/"><i class="bi bi-linkedin"></i></a>
              </div>
              </div>
          </div>
          </div><!-- End Team Member -->

      </div>
    </div>

    <h2></h2>
    <div class="container">
      <!-- Sub-title -->
      <div class="container section-title" data-aos="fade-up">
      <span>Community Volunteers</span>
      <h3>Community Volunteers</h3>
      </div>
      <!-- End sub-title -->
    
      <div class="row gy-5">

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
              <div class="pic"><img src="assets/img/team/shihab.jpg"  loading="lazy" class="img-fluid" alt=""></div>
              <div class="member-info">
              <h4>Mehedi Hasan Shihab</h4>
              <span>ML Engineer (Intern) at Bondstain Technology Ltd., Bangladesh </span>
              <div class="social">
                  <a href="https://www.linkedin.com/in/shihab24/"><i class="bi bi-linkedin"></i></a>
              </div>
              </div>
          </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
              <div class="pic"><img src="assets/img/team/nabil.jpg"  loading="lazy" class="img-fluid" alt=""></div>
              <div class="member-info">
              <h4>An Naser Nabil</h4>
              <span> Freelance Content Writer at Prothom Alo and Earki </span>
              <div class="social">
                  <a href="https://www.linkedin.com/in/ann-naser-nabil/"><i class="bi bi-linkedin"></i></a>
              </div>
              </div>
          </div>
          </div><!-- End Team Member -->


          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
              <div class="pic"><img src="assets/img/team/towfik.jpg"  loading="lazy" class="img-fluid" alt=""></div>
              <div class="member-info">
              <h4>Towfiqur Rashid</h4>
              <span> Undergradute Student at Dept. of Urban & Regional Planning, RUET, Bangladesh </span>
              <div class="social">
                  <a href="https://www.linkedin.com/in/towfiqur-rashid/"><i class="bi bi-linkedin"></i></a>
              </div>
              </div>
          </div>
          </div><!-- End Team Member -->



          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
              <div class="pic"><img src="assets/img/team/sushmoy.jpg"  loading="lazy" class="img-fluid" alt=""></div>
              <div class="member-info">
              <h4>Sushomoy Nandi</h4>
              <span> Undergradute Student at Dept. of CSE, NITER, Bangladesh </span>
              <div class="social">
                  <a href="https://www.linkedin.com/in/sushmoy-nandi-737b41307/"><i class="bi bi-linkedin"></i></a>
              </div>
              </div>
          </div>
          </div><!-- End Team Member -->

      </div>
    </div>

  </section>

  <!-- TEAM ENDS -->