<!-- ABOUNT STARTS -->
<section id="about" class="about section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <span>About Us<br></span>
    <h2>About Us</h2>
    <p>We operate entirely through volunteer contributions - no one receives compensation for their services, and we maintain a non-commercial approach to all community activities.</p>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">
        <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
            <img src="assets/img/about.png" class="img-fluid" alt="">
            <!-- <a href="" class="glightbox pulsating-play-btn" disabled></a> -->
            </div>
            <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
            <h3>What We Offer</h3>
            <p class="fst-italic">
            <ul>
                <li><i class="bi bi-check2-all"></i><span>Free Membership – no fees, ever</span></li>
                <li><i class="bi bi-check2-all"></i><span>Open Mentorship – led by experienced AI/ML professionals</span></li>
                <li><i class="bi bi-check2-all"></i><span>Community Events – workshops, discussions, and hackathons</span></li>
                <li><i class="bi bi-check2-all"></i><span>Collaborative Reseach & Projects – contribute, learn, and grow together</span></li>
            </ul>

            <h3>Our Vision</h3>
            <p>
              To build a thriving, collaborative AI/ML professional network in Bangladesh that strengthens local capabilities while fostering open-source contributions and knowledge sharing across all career levels.
            </p>

            <h3>Our Goals</h3>
            <ul>
              <li><i class="bi bi-check2-circle"></i><span>Local Networking 
                – onnecting AI/ML practitioners across all levels for shared growth</span></li>
              <li><i class="bi bi-check2-circle"></i><span>Mentorship & Support 
                – organizing workshops, Q&A sessions, and mock interviews</span></li>
              <li><i class="bi bi-check2-circle"></i><span>Research & Development 
                – facilitating collaborative research and quality publications</span></li>
              <li><i class="bi bi-check2-circle"></i><span>Open-Source Contributions 
                – building community projects and code contributions</span></li>
            </ul>
        </div>
    </div>
    </div>
</section>
<!-- ABOUT SECTION ENDS -->