<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title> {% block title %} AI/ML Community {% endblock %}</title>

    <meta name="description" content="AIML Professional Community Bangladesh is a volunteer-driven, non-profit initiative aimed at building a stronger AI/ML ecosystem in the country. We believe in open access to knowledge, mentorship, and collaboration—free for all. Our mission is to connect learners, professionals, and enthusiasts in a space that encourages continuous learning and community-driven growth.">
    <meta name="keywords" content="ai bangladesh, machine learning in bangladesh, ai community, machine learning community">

    <!-- Favicons -->
    <link href="{{ url_for('assets', filename='img/aimlpcb-logo.png') }}" rel="icon">
    <link href="{{ url_for('assets', filename='img/aimlpcb-logo.png') }}" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <!-- CDN CSS Files -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/css/glightbox.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="{{ url_for('assets', filename='css/main.css') }}" rel="stylesheet">
    <!-- Additional CSS -->
    <link href="{{ url_for('assets', filename='css/coc.css') }}" rel="stylesheet">
    <link href="{{ url_for('assets', filename='css/stats.css') }}" rel="stylesheet">

</head>

<body class="index-page">

    {% block header %}
        {% include "partial/header.html" %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
        {% include "partial/footer.html" %}
    {% endblock %}

    <!-- CDN JS Files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/js/glightbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/purecounter/1.0.8/purecounter_vanilla.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imagesloaded/5.0.0/imagesloaded.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="{{ url_for('assets', filename='js/main.js') }}"></script>
    
    <!-- Initialize PureCounter -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            new PureCounter();
        });
    </script>
</body>
</html>